Entity Resolution/Python/google.dtd

<!ELEMENT GSP (((TM, Q, PARAM+, SEARCH_MODES?, TOOLBELT?,
                 TOOLBELT_BREADCRUMB?, CB*, CT?,
                 LOCALQUERY?, TT?, CAT*, ISURL?, RPB?, BPB?, Spelling?,
                 RelatedSearches?, LOCATION_INPUT?, Synonyms?, NEWS*, MAPS?,
                 DICTIONARY_DEFINITION?, DEFINITIONS?,
                 LOCAL_LISTINGS?, FINANCE?, FROOGLE_LISTINGS?,
                 SCHOLAR_LISTINGS?, PRINT_LISTINGS?, QUICKLINK?, REISSUE?,
                 NEWS_ARCHIVE?, IMAGE_THUMBS?, ADS?,
                 EXPERIMENTS?, RES?, CALC?, CURRENCY?,
                 CURRENCY_ONEBOX?, DAFFIE?, REVS?, SL_RESULTS?, MUSIC?,
                 VIDEO?, WEATHER?, TRANSLATION_INTENT?, TRANSLATION?,
                 REAL_ESTATE?, SAFESEARCH?, MOVIES?, CurrentLocation?,
                 PROSE_SINGLE_RESULT?, PROSE_CLUSTERED_RESULT?, LOCALTIME?)
                 | CACHE | ERROR))>
<!ATTLIST GSP VER CDATA #REQUIRED>
<!ELEMENT ERROR (#PCDATA)>
<!ELEMENT TM (#PCDATA)>
<!ELEMENT Q (#PCDATA)>
<!ELEMENT CACHE (CACHE_URL,
                 CACHE_REDIR_URL,
                 CACHE_LAST_MODIFIED,
                 CACHE_LEGEND_FOUND,
                 CACHE_LEGEND_NOTFOUND,
                 CACHE_CONTENT_TYPE,
                 CACHE_LANGUAGE,
                 CACHE_ENCODING,
                 CACHE_HTML)>
<!ELEMENT CACHE_URL (#PCDATA)>
<!ELEMENT CACHE_REDIR_URL (#PCDATA)>
<!ELEMENT CACHE_LAST_MODIFIED (#PCDATA)>
<!ELEMENT CACHE_LEGEND_FOUND (CACHE_LEGEND_TEXT*)>
<!ELEMENT CACHE_LEGEND_TEXT (BLOB)>
<!ATTLIST CACHE_LEGEND_TEXT fgcolor CDATA #REQUIRED
                            bgcolor CDATA #REQUIRED>
<!ELEMENT CACHE_LEGEND_NOTFOUND (BLOB?)>
<!ELEMENT CACHE_CONTENT_TYPE (#PCDATA)>
<!ELEMENT CACHE_LANGUAGE (#PCDATA)>
<!ELEMENT CACHE_ENCODING (#PCDATA)>
<!ELEMENT CACHE_HTML (BLOB?)>
<!ELEMENT BLOB (#PCDATA)>
<!ATTLIST BLOB encoding CDATA #REQUIRED>
<!ELEMENT PARAM EMPTY>
<!ATTLIST PARAM name CDATA #REQUIRED
                value CDATA #REQUIRED
                original_value CDATA "">
<!ELEMENT CB (CS+)>
<!ATTLIST CB name CDATA #REQUIRED>
<!ELEMENT CS (CS*)>
<!ATTLIST CS name CDATA #REQUIRED>
<!ELEMENT CT (#PCDATA)>
<!ELEMENT TT (#PCDATA)>
<!ELEMENT ISURL EMPTY>
<!ELEMENT RPB EMPTY>
<!ELEMENT BPB EMPTY>
<!ELEMENT Spelling ((Suggestion+) | (TYPE, CORRECTED_QUERY, ORIGINAL_QUERY?))>
<!ELEMENT Suggestion (#PCDATA)>
<!ATTLIST Suggestion q CDATA #REQUIRED>
<!ELEMENT CORRECTED_QUERY (Q, TEXT, PARAM*)>
<!ELEMENT ORIGINAL_QUERY (Q, TEXT, PARAM*)>
<!ELEMENT CALC (LHS, RHS)>
<!ELEMENT REISSUE EMPTY>
<!ATTLIST REISSUE TYPE CDATA #REQUIRED
                  Q CDATA #REQUIRED>
<!ELEMENT RHS (#PCDATA)>
<!ELEMENT LHS (#PCDATA)>
<!ELEMENT CURRENCY (LHS?, RHS?)>
<!ELEMENT MUSIC (ARTIST?, ALBUM?, SONG?)>
<!ELEMENT ARTIST (MUSIC_IMAGE?, U, TEXT, ONE_ALBUM*, ONE_SONG*, ONEBOX_TITLE?)>
<!ELEMENT SONG (MUSIC_IMAGE?, U, TEXT, ONE_ARTIST*, LYRICS_SNIPPET?,
                ONE_ALBUM?, ONE_PURCHASE*, ONEBOX_TITLE?)>
<!ELEMENT ALBUM (MUSIC_IMAGE?, U, TEXT, ONE_ARTIST*, ALBUM_DATE?,
                 ALBUM_RATING?, ONE_SONG*, ONE_PURCHASE*, ONEBOX_TITLE?)>
<!ELEMENT MUSIC_IMAGE (MUSIC_LANDING_LINK, U, IMAGE_BORDER, IMAGE_WIDTH, IMAGE_HEIGHT)>
<!ELEMENT MUSIC_LANDING_LINK (#PCDATA)>
<!ELEMENT IMAGE_BORDER (#PCDATA)>
<!ELEMENT ONE_ARTIST (U, TEXT)>
<!ELEMENT ONE_ALBUM (TEXT, U?, ALBUM_RATING?)>
<!ELEMENT ONE_SONG (#PCDATA)>
<!ELEMENT ALBUM_DATE (#PCDATA)>
<!ELEMENT ALBUM_RATING (U, NUM_REVIEWS, NUM_HALF_STARS?)>
<!ELEMENT ONE_PURCHASE (U, PROVIDER, PRICE?)>
<!ELEMENT PROVIDER (#PCDATA)>
<!ELEMENT ONEBOX_TITLE (U?, TEXT)>
<!ELEMENT WEATHER (EMPTY | LOCATION_PROMPT | (WEATHER_TITLE?,
                   CURRENT_TEMPERATURE?,
                   CURRENT_CONDITION?, CURRENT_WIND_INFORMATION?,
                   CURRENT_HUMIDITY?, FORECAST_DAY*, DEEP_LINK*))>
<!ELEMENT FORECAST_DAY (DAY_OF_WEEK, FORECAST_ICON, FORECAST_CONDITION?,
                        FORECAST_TEMPERATURE?)>
<!ELEMENT CURRENT_TEMPERATURE (#PCDATA)>
<!ELEMENT CURRENT_CONDITION (#PCDATA)>
<!ELEMENT CURRENT_WIND_INFORMATION (#PCDATA)>
<!ELEMENT CURRENT_HUMIDITY (#PCDATA)>
<!ELEMENT DAY_OF_WEEK (#PCDATA)>
<!ELEMENT FORECAST_ICON (#PCDATA)>
<!ELEMENT FORECAST_CONDITION (#PCDATA)>
<!ELEMENT FORECAST_TEMPERATURE (#PCDATA)>
<!ELEMENT DEEP_LINK (TEXT, U)>
<!ELEMENT TRANSLATION (EMPTY | (RESULT_UI?, TRANSLATION_URL, TRANSLATION_TERM*))>
<!ELEMENT TRANSLATION_URL (U, TEXT, SOURCE_LANG, TARGET_LANG)>
<!ELEMENT SOURCE_LANG (#PCDATA)>
<!ELEMENT TARGET_LANG (#PCDATA)>
<!ELEMENT TRANSLATION_TERM (ORIGINAL_TERM, TRANSLATED_TERM)>
<!ELEMENT ORIGINAL_TERM (TRANSLATION_TERM_PART*)>
<!ELEMENT TRANSLATED_TERM (TRANSLATION_TERM_PART*)>
<!ELEMENT TRANSLATION_TERM_PART (#PCDATA)>
<!ATTLIST TRANSLATION_TERM_PART type (text|comment) "text">
<!ELEMENT DICTIONARY_DEFINITION (DICTIONARY_HEADER, MEANINGS)>
<!ELEMENT DICTIONARY_HEADER (DICTIONARY_WORD, VARIATION*, PRONUNCIATION?, POS?)>
<!ELEMENT DICTIONARY_WORD (#PCDATA)>
<!ELEMENT VARIATION (VARIATION_TYPE, NORMAL_FORM, POS?)>
<!ELEMENT VARIATION_TYPE (#PCDATA)>
<!ELEMENT NORMAL_FORM (#PCDATA)>
<!ELEMENT POS (#PCDATA)>
<!ELEMENT PRONUNCIATION (#PCDATA)>
<!ELEMENT MEANINGS (MEANING*, GOOGLE_DICTIONARY_LINK?, EXTERNAL_DICTIONARY_LINK*)>
<!ELEMENT MEANING (POS?, MEANING_TEXT, EXAMPLE*)>
<!ELEMENT MEANING_TEXT (#PCDATA)>
<!ELEMENT EXAMPLE (#PCDATA)>
<!ELEMENT GOOGLE_DICTIONARY_LINK (U, TEXT)>
<!ELEMENT EXTERNAL_DICTIONARY_LINK (U, TEXT)>
<!ELEMENT RelatedSearches (RelatedTerm+)>
<!ELEMENT RelatedTerm (#PCDATA)>
<!ELEMENT REAL_ESTATE EMPTY>
<!ELEMENT Synonyms (OneSynonym+)>
<!ELEMENT OneSynonym (#PCDATA)>
<!ATTLIST OneSynonym q CDATA #REQUIRED>
<!ELEMENT TRANSLATION_INTENT (TITLE, SOURCE_LANG, TARGET_LANG, ORIGINAL_TEXT,
                              TRANSLATED_TEXT, TRANSLATION_DICTIONARY?)>
<!ELEMENT ORIGINAL_TEXT (TEXT, TRANSLITERATION_TEXT?)>
<!ELEMENT TRANSLATED_TEXT (TEXT, TRANSLITERATION_TEXT?)>
<!ELEMENT TRANSLITERATION_TEXT (#PCDATA)>
<!ELEMENT TRANSLATION_DICTIONARY (TEXT, DICTIONARY_TERMS,
                                  DICTIONARY_TERMS_MORE?)>
<!ELEMENT DICTIONARY_TERMS (#PCDATA)>
<!ELEMENT DICTIONARY_TERMS_MORE (#PCDATA)>
<!ELEMENT NEWS (U, T, SOURCE, RELATED_ARTICLES_URL?, NUM_RELATED_ARTICLES?, S?,
                DATE, CLUSTER_IMAGE?, NEWS_VIDEO?, NEWS_MORE_RESULT*,
                NEWS_MORE_SOURCE*)>
<!ELEMENT NEWSARCHIVE (U, T, SOURCE, RELATED_ARTICLES_URL?,
                       NUM_RELATED_ARTICLES?, DATE)>
<!ELEMENT SOURCE (#PCDATA)>
<!ELEMENT DATE (#PCDATA)>
<!ELEMENT RELATED_ARTICLES_URL (#PCDATA)>
<!ELEMENT NUM_RELATED_ARTICLES (#PCDATA)>
<!ELEMENT CLUSTER_IMAGE (U, SOURCE, IMAGE_SOURCE, IMAGE_WIDTH, IMAGE_HEIGHT)>
<!ELEMENT NEWS_VIDEO (U, T, SOURCE)>
<!ELEMENT NEWS_MORE_RESULT (U, T, SOURCE)>
<!ELEMENT NEWS_MORE_SOURCE (U, SOURCE)>
<!ELEMENT SOCIAL_SEARCH (MORE_FROM_FRIENDS_TITLE?, MY_SOCIAL_CIRCLE_TITLE?,
                         MY_SOCIAL_CONTENT_TITLE?, RESULT_URL, RESULT_TITLE,
                         FRIEND_PHOTO_URL?, FRIEND_PROFILE_URL?, FRIEND_NAME?,
                         MIDDLE_FRIEND_PROFILE_URL?, MIDDLE_FRIEND_NAME?,
                         FRIEND_CONNECTED_VIA?, RESULT_SNIPPET?,
                         RESULT_DISPLAYURL, CLUSTERED_RESULT*,
                         MORE_FROM_FRIEND_URL?, MORE_FROM_FRIEND_TITLE?,
                         FILTERED_MESSAGE?)>
<!ELEMENT MORE_FROM_FRIENDS_TITLE (#PCDATA)>
<!ELEMENT MY_SOCIAL_CIRCLE_TITLE (#PCDATA)>
<!ELEMENT MY_SOCIAL_CONTENT_TITLE (#PCDATA)>
<!ELEMENT RESULT_URL (#PCDATA)>
<!ELEMENT RESULT_TITLE (#PCDATA)>
<!ELEMENT FRIEND_PHOTO_URL (#PCDATA)>
<!ELEMENT FRIEND_PROFILE_URL (#PCDATA)>
<!ELEMENT FRIEND_NAME (#PCDATA)>
<!ELEMENT MIDDLE_FRIEND_PROFILE_URL (#PCDATA)>
<!ELEMENT MIDDLE_FRIEND_NAME (#PCDATA)>
<!ELEMENT FRIEND_CONNECTED_VIA (#PCDATA)>
<!ELEMENT RESULT_SNIPPET (#PCDATA)>
<!ELEMENT RESULT_DISPLAYURL (#PCDATA)>
<!ELEMENT CLUSTERED_RESULT (CLUSTER_URL?, CLUSTER_TITLE?, RESULT_SNIPPET?,
                            CLUSTER_DISPLAYURL?)>
<!ELEMENT CLUSTER_URL (#PCDATA)>
<!ELEMENT CLUSTER_TITLE (#PCDATA)>
<!ELEMENT CLUSTER_DISPLAYURL (#PCDATA)>
<!ELEMENT MORE_FROM_FRIEND_URL (#PCDATA)>
<!ELEMENT MORE_FROM_FRIEND_TITLE (#PCDATA)>
<!ELEMENT FILTERED_MESSAGE (#PCDATA)>
<!ELEMENT MAPS (T, MAP*)>
<!ELEMENT MAP (U, SOURCE)>
<!ELEMENT WORD (#PCDATA)>
<!ELEMENT DEFINITIONS (Q, DEFINITION*, DEFINITION_EXTENSION*, DEFINITION_OTHER_LANGUAGE*)>
<!ELEMENT DEFINITION (DEFINITION_TERM, DEFINITION_DEFN+, DEFINITION_LANGUAGE, U, SOURCE)>
<!ATTLIST DEFINITION N CDATA #REQUIRED
                     MIME CDATA "text/html">
<!ELEMENT DEFINITION_TERM (#PCDATA)>
<!ELEMENT DEFINITION_DEFN (#PCDATA)>
<!ELEMENT DEFINITION_LANGUAGE (#PCDATA)>
<!ELEMENT DEFINITION_EXTENSION (#PCDATA)>
<!ATTLIST DEFINITION_EXTENSION N CDATA #REQUIRED
                               MIME CDATA "text/html">
<!ELEMENT DEFINITION_OTHER_LANGUAGE (#PCDATA)>
<!ATTLIST DEFINITION_OTHER_LANGUAGE N CDATA #REQUIRED
                                    MIME CDATA "text/html">
<!ELEMENT REGION_TOO_LARGE EMPTY>
<!ELEMENT LOCATION_INPUT (REGION_TOO_LARGE?)>
<!ELEMENT LOCAL_LISTINGS (T, U, LOCAL_LISTING*)>
<!ELEMENT LOCAL_LISTING (T, U?, Q?, ADDRESS?, PHONE_NUMBER?, DISTANCE_AWAY?,
                         TRANSIT_STATION?,
                         NUM_HALF_STARS?, NUM_REVIEWS?, NUM_COUPONS?,
                         LOCAL_DETAIL_URL?, LATITUDE?, LONGITUDE?,
                         AUTHORITY?, NEAR_LOCATION?, HOURS?, REVIEW_SNIPPET?,
                         RESULT_TYPE?, ENHANCEMENT?, JUSTIFICATION?)>
<!ELEMENT AUTHORITY (#PCDATA)>
<!ELEMENT NEAR_LOCATION (#PCDATA)>
<!ELEMENT HOURS (#PCDATA)>
<!ELEMENT REVIEW_SNIPPET (#PCDATA)>
<!ELEMENT RESULT_TYPE (#PCDATA)>
<!ELEMENT TRANSIT_STATION (TRANSIT_STATION_TYPE, TRANSIT_STATION_NAME)>
<!ELEMENT TRANSIT_STATION_TYPE (#PCDATA)>
<!ELEMENT TRANSIT_STATION_NAME (#PCDATA)>
<!ELEMENT QUICKLINK (TITLE, SITE, ICON)>
<!ATTLIST QUICKLINK type CDATA #REQUIRED>
<!ELEMENT TITLE (U, TEXT)>
<!ELEMENT TEXT (#PCDATA)>
<!ELEMENT SITE (NAME)>
<!ELEMENT NAME (#PCDATA)>
<!ELEMENT ICON (U, H, W)>
<!ELEMENT H (#PCDATA)>
<!ELEMENT W (#PCDATA)>
<!ELEMENT NEWS_ARCHIVE (U?, T?, NEWS_ARTICLE*)>
<!ELEMENT NEWS_ARTICLE (YR, U, T, PRICE?, SOURCE)>
<!ATTLIST NEWS_ARTICLE N CDATA #IMPLIED>
<!ELEMENT YR (#PCDATA)>
<!ELEMENT SL_RESULTS (SL_MAIN?, SL_ADDL*)>
<!ELEMENT SL_MAIN (T, U, F?, IMAGE?, BODY_LINE*)>
<!ELEMENT SL_ADDL (N, U)>
<!ELEMENT BODY_LINE (BLOCK*)>
<!ELEMENT BLOCK (T, U, L)>
<!ELEMENT N (#PCDATA)>
<!ELEMENT ADDRESS (#PCDATA)>
<!ELEMENT PHONE_NUMBER (#PCDATA)>
<!ELEMENT NUM_HALF_STARS (#PCDATA)>
<!ELEMENT NUM_REVIEWS (#PCDATA)>
<!ELEMENT NUM_COUPONS (#PCDATA)>
<!ATTLIST NUM_COUPONS MOBILE_REDEEMABLE CDATA #IMPLIED
                      DESKTOP_REDEEMABLE CDATA #IMPLIED>
<!ELEMENT ENHANCEMENT (COUPON_TITLE?)>
<!ATTLIST ENHANCEMENT TYPE CDATA #REQUIRED
                      URL CDATA #REQUIRED>
<!ELEMENT COUPON_TITLE (#PCDATA)>
<!ELEMENT DISTANCE_AWAY (#PCDATA)>
<!ELEMENT IMAGE_THUMBS (T?, U?, IMAGE_THUMB*)>
<!ELEMENT IMAGE_THUMB (U, IMAGE_SOURCE, IMAGE_HEIGHT, IMAGE_WIDTH)>
<!ELEMENT IMAGE ((IMAGE_WIDTH, IMAGE_HEIGHT, IMAGE_SOURCE?, ID?, SIZE?,
                  U?, THUMBNAIL*) | EMPTY)>
<!ELEMENT IMAGE_SNIPPETS (IMAGE_THUMB*)>
<!ELEMENT IMAGE_SOURCE (#PCDATA)>
<!ELEMENT IMAGE_HEIGHT (#PCDATA)>
<!ELEMENT IMAGE_WIDTH (#PCDATA)>
<!ELEMENT IMAGE_FORMAT (#PCDATA)>
<!ELEMENT DISCUSSION (SOURCE_URL?, SOURCE_NAME?, NUM_POSTS, NUM_AUTHORS?,
                      LAST_POST_DATE?)>
<!ELEMENT SOURCE_URL (#PCDATA)>
<!ELEMENT SOURCE_NAME (#PCDATA)>
<!ELEMENT NUM_POSTS (#PCDATA)>
<!ELEMENT NUM_AUTHORS (#PCDATA)>
<!ELEMENT LAST_POST_DATE (#PCDATA)>
<!ELEMENT FROOGLE_LISTINGS (U?, ONE_FROOGLE*)>
<!ELEMENT ONE_FROOGLE (T, U, IMAGE_SRC, UI_TYPE?, REVIEWS_COUNT?, REVIEWS_RATING?, PRICE, MERCHANT, LOCAL_AVAILABILITY?, OFFER_ID?, ENCODED_OFFER_SUMMARY?)>
<!ELEMENT IMAGE_SRC (#PCDATA)>
<!ELEMENT PRICE (#PCDATA)>
<!ELEMENT MERCHANT (#PCDATA)>
<!ELEMENT LOCAL_AVAILABILITY (#PCDATA)>
<!ELEMENT UI_TYPE (#PCDATA)>
<!ELEMENT REVIEWS_COUNT (#PCDATA)>
<!ELEMENT REVIEWS_RATING (#PCDATA)>
<!ELEMENT REVIEWS_URL (#PCDATA)>
<!ELEMENT OFFER_ID (#PCDATA)>
<!ELEMENT ENCODED_OFFER_SUMMARY (#PCDATA)>
<!ELEMENT ONE_PRODUCT_CATALOG (T, U, CATALOG_ID?, IMAGE_SRC, UI_TYPE?, REVIEWS_COUNT?, REVIEWS_RATING?, REVIEWS_URL?, PRICE_RANGE, NUM_STORES, LOCAL_AVAILABILITY?)>
<!ELEMENT PRICE_RANGE (#PCDATA)>
<!ELEMENT NUM_STORES (#PCDATA)>
<!ELEMENT CATALOG_ID (#PCDATA)>
<!ELEMENT SCHOLAR_LISTINGS (U?, ONE_SCHOLAR*)>
<!ELEMENT ONE_SCHOLAR (T, U?, SCHOLAR_AUTHOR, SCHOLAR_CITATIONS)>
<!ELEMENT SCHOLAR_AUTHOR (#PCDATA)>
<!ELEMENT SCHOLAR_CITATIONS (#PCDATA)>
<!ELEMENT PRINT_LISTINGS (U?, ONE_PRINT*)>
<!ELEMENT ONE_PRINT (U, T, PRINT_AUTHOR?, PRINT_MAGAZINE_SERIAL_TITLE?, PRINT_PUB_DATE?,
                     PRINT_PUB_YEAR?, PRINT_PAGES?, PRINT_SUBJECT?, PRINT_VIEWABILITY?,
                     PATENT_APPLICATION_DATE?, PATENT_NUMBER?, ANNOTATIONS?, THUMBNAIL_URL?,
                     CITE?, BK_BOTTOM_LINK*, MY_LIBRARY*)>
<!ELEMENT PRINT_AUTHOR (#PCDATA)>
<!ELEMENT PRINT_MAGAZINE_SERIAL_TITLE (#PCDATA)>
<!ELEMENT PRINT_PUB_DATE (#PCDATA)>
<!ELEMENT PRINT_PUB_YEAR (#PCDATA)>
<!ELEMENT PRINT_PAGES (#PCDATA)>
<!ELEMENT PRINT_SUBJECT (#PCDATA)>
<!ELEMENT PRINT_VIEWABILITY (#PCDATA)>
<!ELEMENT PATENT_APPLICATION_DATE (#PCDATA)>
<!ELEMENT PATENT_NUMBER (#PCDATA)>
<!ELEMENT CITE (#PCDATA)>
<!ELEMENT BK_BOTTOM_LINK (U, TEXT)>
<!ELEMENT MY_LIBRARY (ID, IN_MY_LIBRARY_MSG, DOC_ID, TEXT)>
<!ATTLIST MY_LIBRARY
    inml CDATA "false"
    show CDATA #REQUIRED>
<!ELEMENT IN_MY_LIBRARY_MSG (#PCDATA)>
<!ELEMENT DOC_ID (#PCDATA)>
<!ELEMENT ADS (AD*)>
<!ELEMENT AD (LINE1, LINE2?, LINE3?, KEYWORD?, CPC?, WCPC?, MAX_CPC?, PCPM?, BADGETYPE?,
              MATCHTYPE?, CREATIVE_ID?, ADGROUP_ID?, REGIONNAME?, COMMERCIAL?,
              PHONE_NUMBER?, FORMATTED_ADDRESS?,
              POINT?, STREET?, CITY?, REGION?, POSTAL_CODE?, COUNTRY_CODE?,
              IMAGE?, LOGO?,
              STORE_LOCATOR_ID?,
              SELLER_RATINGS?,
              SITE_LINK*,
              COMPANY_NAME?,
              TEMPLATE_DATA?,
              CLICK_TO_CALL?)>
<!ATTLIST AD
    n CDATA #IMPLIED
    type CDATA #REQUIRED
    url CDATA #REQUIRED
    visible_url CDATA #REQUIRED
    ctc_url CDATA "">
<!ELEMENT LINE1 (#PCDATA)>
<!ELEMENT LINE2 (#PCDATA)>
<!ELEMENT LINE3 (#PCDATA)>
<!ELEMENT KEYWORD (#PCDATA)>
<!ELEMENT CPC (#PCDATA)>
<!ELEMENT WCPC (#PCDATA)>
<!ELEMENT MAX_CPC (#PCDATA)>
<!ELEMENT PCPM (#PCDATA)>
<!ELEMENT MATCHTYPE (#PCDATA)>
<!ELEMENT CREATIVE_ID (#PCDATA)>
<!ELEMENT ADGROUP_ID (#PCDATA)>
<!ELEMENT REGIONNAME (#PCDATA)>
<!ELEMENT COMMERCIAL (#PCDATA)>
<!ELEMENT FORMATTED_ADDRESS (#PCDATA)>
<!ELEMENT POINT EMPTY>
<!ATTLIST POINT
    lat_e6 CDATA #REQUIRED
    lng_e6 CDATA #REQUIRED>
<!ELEMENT STREET (#PCDATA)>
<!ELEMENT CITY (#PCDATA)>
<!ELEMENT REGION (#PCDATA)>
<!ELEMENT POSTAL_CODE (#PCDATA)>
<!ELEMENT COUNTRY_CODE (#PCDATA)>
<!ATTLIST IMAGE
    url CDATA #REQUIRED
    width CDATA #REQUIRED
    height CDATA #REQUIRED>
<!ELEMENT LOGO EMPTY>
<!ATTLIST LOGO
    url CDATA #REQUIRED
    width CDATA #REQUIRED
    height CDATA #REQUIRED>
<!ELEMENT STORE_LOCATOR_ID (#PCDATA)>
<!ELEMENT SELLER_RATINGS (RATING?, REVIEW_COUNT?, REVIEW_COUNT_NUM?,
                          SOURCE_URL?, ADVERTISER_INFO?)>
<!ELEMENT RATING (#PCDATA)>
<!ELEMENT REVIEW_COUNT (#PCDATA)>
<!ELEMENT REVIEW_COUNT_NUM (#PCDATA)>
<!ELEMENT ADVERTISER_INFO (#PCDATA)>
<!ELEMENT SITE_LINK EMPTY>
<!ATTLIST SITE_LINK
    url CDATA #REQUIRED
    link_text CDATA #REQUIRED>
<!ELEMENT MORE_SITE_DOMAIN (#PCDATA)>
<!ELEMENT COMPANY_NAME (#PCDATA)>
<!ELEMENT BADGETYPE (#PCDATA)>
<!ELEMENT TEMPLATE_DATA (#PCDATA)>
<!ELEMENT CLICK_TO_CALL EMPTY>
<!ATTLIST CLICK_TO_CALL
    ctc_url CDATA #REQUIRED
    ctc_label CDATA #REQUIRED
    phone_number CDATA #REQUIRED
    vanity_phone_number CDATA ""
    disclaimer_text CDATA ""
    phone_image_url CDATA "">
<!ELEMENT RES (M, FI?, XT?, NB?, MT*, R*, RG*, RHS_COLUMN?)>
<!ATTLIST RES FILTERED CDATA #IMPLIED
              SN CDATA #IMPLIED
              EN CDATA #IMPLIED
              SIGNALS CDATA #IMPLIED>
<!ELEMENT M (#PCDATA)>
<!ELEMENT FI EMPTY>
<!ELEMENT XT EMPTY>
<!ELEMENT NB (PU?, NU?)>
<!ELEMENT PU (#PCDATA)>
<!ELEMENT NU (#PCDATA)>
<!ELEMENT R (DISCUSSION?, RU?, U, UE, UT?, UTE?, UD?, T?, RK, LOCALINFO?,
             CRAWLDATE?, TIMESTAMP?, WEBDISPLAYDATE?, FS?, MT*, F*,  S?,
             LANG?, Label*, FORUM_CLUSTER?, RICH_SNIPPET?, LEFT_IMAGE_SNIPPET?,
             IMAGE_SNIPPETS?, Provider*, HN?, SLN?, OSLN?, PageMap?, STARRED?,
             BREADCRUMBS_LINE?, HAS?, MOBILE_RESULT?, MOBILEDATA?,
             SECTION_HEADING_SNIPPET?, CT_URL?, PREVIEW_IMG?, IMG?,
             TBN*, PlacemarkInfo?, NEWS?, IMAGE?, LOCAL_LISTINGS?,
             ONE_FROOGLE?, ONE_PRODUCT_CATALOG?, BLOG?, MAP_RESULT?,
             RESULT_UI?, RESULT_DOCID?, NAVINESS?, ANNOTATIONS?,
             RESULT_MARK_PREFERRED_BY_USER?, RESULT_MARK_VISIBLY_PERSONALIZED?,
             NAVSMEAR_CLUSTER?, RICH_SNIPPET_EVENTS?, SAFEBROWSING?,
             HACKEDSITES?, SOCIAL_SEARCH?, LINK_PREFETCH?, VIDEO?, GALLERY?)>
<!ATTLIST R N CDATA #IMPLIED
            N1 CDATA #IMPLIED
            L CDATA "1"
            MIME CDATA "text/html"
            prefetch CDATA #IMPLIED>
<!ELEMENT RG (RESULT_GROUP_UI?, TYPE?, CLUSTER?, IMAGE?, CLUSTER_IMAGE?, RG_TYPE?, RG_URL?, RG_TITLE?)>
<!ELEMENT RESULT_GROUP_UI (#PCDATA)>
<!ATTLIST RG START CDATA #REQUIRED
             SIZE CDATA #REQUIRED>
<!ELEMENT RU (#PCDATA)>
<!ELEMENT U (#PCDATA)>
<!ELEMENT UE (#PCDATA)>
<!ELEMENT UT (#PCDATA)>
<!ELEMENT UTE (#PCDATA)>
<!ELEMENT UD (#PCDATA)>
<!ELEMENT T (#PCDATA)>
<!ELEMENT RK (#PCDATA)>
<!ELEMENT LOCALINFO (LATLNG_PARAM, BN?, PH?, ADDR?, CITYSTATE?, ZIP?, LATITUDE, LONGITUDE)>
<!ELEMENT LOCALQUERY (ADDR?, CITYSTATE?, ZIP?, LATITUDE, LONGITUDE, RADIUS)>
<!ELEMENT LATLNG_PARAM (#PCDATA)>
<!ELEMENT BN (#PCDATA)>
<!ELEMENT PH (#PCDATA)>
<!ELEMENT ADDR (#PCDATA)>
<!ELEMENT CITYSTATE (#PCDATA)>
<!ELEMENT ZIP (#PCDATA)>
<!ELEMENT LATITUDE (#PCDATA)>
<!ELEMENT LONGITUDE (#PCDATA)>
<!ELEMENT RADIUS (#PCDATA)>
<!ELEMENT CRAWLDATE (#PCDATA)>
<!ELEMENT TIMESTAMP (#PCDATA)>
<!ELEMENT WEBDISPLAYDATE (#PCDATA)>
<!ELEMENT XP (#PCDATA)>
<!ELEMENT FS EMPTY>
<!ATTLIST FS NAME CDATA #REQUIRED
             VALUE CDATA #REQUIRED>
<!ELEMENT F  (#PCDATA)>
<!ELEMENT S  (#PCDATA)>
<!ELEMENT LANG (#PCDATA)>
<!ELEMENT IMG (SZ, IN?, SLI?)>
<!ATTLIST IMG WH CDATA #REQUIRED
              HT CDATA #REQUIRED
              IID CDATA #IMPLIED>
<!ELEMENT SZ (#PCDATA)>
<!ELEMENT IN EMPTY>
<!ELEMENT SLI EMPTY>
<!ATTLIST SLI BW CDATA #REQUIRED
              BH CDATA #REQUIRED
              IW CDATA #REQUIRED
              IH CDATA #REQUIRED
              ML CDATA #REQUIRED
              MT CDATA #REQUIRED>
<!ELEMENT TBN EMPTY>
<!ATTLIST TBN TYPE CDATA #IMPLIED
              WH CDATA #REQUIRED
              HT CDATA #REQUIRED>
<!ELEMENT Label (#PCDATA)>
<!ELEMENT SECTION_HEADING_SNIPPET (SECTION_HEADING_TEXT, SECTION_HEADING_ANCHOR)>
<!ELEMENT SECTION_HEADING_TEXT (#PCDATA)>
<!ELEMENT SECTION_HEADING_ANCHOR (#PCDATA)>
<!ELEMENT Provider (#PCDATA)>
<!ATTLIST Provider user CDATA #REQUIRED>
<!ELEMENT SLN (SL+)>
<!ATTLIST SLN NUM CDATA #REQUIRED>
<!ELEMENT SL (U, UE, T?, MOBILE?, MOBILEDUP?)>
<!ATTLIST SL N CDATA #REQUIRED>
<!ELEMENT OSLN (OSL+)>
<!ATTLIST OSLN NUM CDATA #REQUIRED>
<!ELEMENT OSL (U, T?)>
<!ATTLIST OSL N CDATA #REQUIRED>
<!ELEMENT MOBILE (#PCDATA)>
<!ELEMENT MOBILEDUP (#PCDATA)>
<!ELEMENT FORUM_CLUSTER (FORUM_RESULT+)>
<!ATTLIST FORUM_CLUSTER NUM CDATA #REQUIRED>
<!ELEMENT FORUM_RESULT (U, UE, T?)>
<!ATTLIST FORUM_RESULT N CDATA #REQUIRED
                       NUM_POSTS CDATA #IMPLIED
                       DATE CDATA #IMPLIED>
<!ELEMENT HAS (DI?, L?, C?, RT?, SI?, PERS_CATS?, CAR?, DEBUG?)>
<!ELEMENT DEBUG (IND_DEBUG?, DOC_DEBUG?)>
<!ELEMENT IND_DEBUG (#PCDATA)>
<!ELEMENT DOC_DEBUG (#PCDATA)>
<!ELEMENT DI (CAT, DT?, DS?)>
<!ELEMENT CAT (GN, FVN)>
<!ATTLIST CAT SE CDATA "ISO-8859-1">
<!ELEMENT GN (#PCDATA)>
<!ELEMENT FVN (#PCDATA)>
<!ELEMENT DT (#PCDATA)>
<!ELEMENT DS (#PCDATA)>
<!ELEMENT L EMPTY>
<!ATTLIST L TAG CDATA "link:">
<!ELEMENT C EMPTY>
<!ATTLIST C TAG CDATA "cache:"
            SZ  CDATA #REQUIRED
            CID CDATA "">
<!ELEMENT RT EMPTY>
<!ATTLIST RT TAG CDATA "related:">
<!ELEMENT SI (#PCDATA)>
<!ELEMENT PERS_CATS (#PCDATA)>
<!ATTLIST HN U CDATA #REQUIRED>
<!ELEMENT HN (#PCDATA)>
<!ELEMENT MT EMPTY>
<!ATTLIST MT N CDATA #REQUIRED
             V CDATA #REQUIRED>
<!ELEMENT REVS (REV+)>
<!ATTLIST REVS RPOS CDATA #REQUIRED
               ODEL CDATA #REQUIRED>
<!ELEMENT FQ (#PCDATA)>
<!ELEMENT REV (Q, FQ?, R*)>
<!ATTLIST REV N CDATA #IMPLIED>
<!ELEMENT CAR (MD+)>
<!ELEMENT MD EMPTY>
<!ATTLIST MD N CDATA #REQUIRED
             V CDATA #REQUIRED>
<!ELEMENT GoogleAdImage (#PCDATA)>
<!ELEMENT SAFESEARCH (EXCLUDED+)>
<!ELEMENT EXCLUDED (#PCDATA)>
<!ELEMENT EXPERIMENTS (ID+)>
<!ELEMENT SLT (#PCDATA)>
<!ELEMENT MOBILE_RESULT (ISMOBILE, UT?)>
<!ELEMENT ISMOBILE (#PCDATA)>
<!ELEMENT MOBILEDATA (FLAGS, ALTERNATE_URL?)>
<!ELEMENT FLAGS (#PCDATA)>
<!ELEMENT ALTERNATE_URL (#PCDATA)>
<!ELEMENT PlacemarkInfo (FullTextDescription?, Author?, AttributionUrl?,
                         SourceDocInfo?)>
<!ELEMENT FullTextDescription (#PCDATA)>
<!ELEMENT AttributionUrl (#PCDATA)>
<!ELEMENT SourceDocInfo (Name, OriginalFeatureId, NumTotalFeatures?)>
<!ELEMENT Name (#PCDATA)>
<!ELEMENT OriginalFeatureId (#PCDATA)>
<!ELEMENT NumTotalFeatures (#PCDATA)>
<!ELEMENT ID (#PCDATA)>
<!ELEMENT SIZE (#PCDATA)>
<!ELEMENT THUMBNAIL (IMAGE_WIDTH, IMAGE_HEIGHT, IMAGE_SOURCE?, IMAGE_FORMAT?)>
<!ELEMENT VIDEO (T, S?, THUMBNAIL_URL?, THUMBNAIL?, DURATION?,
                 DURATION_DIGITAL?, NUM_HALF_STARS?, UPLOAD_DATE?,
                 VIDEO_UPLOADER?, ANNOTATIONS?)>
<!ELEMENT GALLERY (VIDEO+)>
<!ATTLIST GALLERY NUM CDATA #REQUIRED>
<!ELEMENT THUMBNAIL_URL (#PCDATA)>
<!ELEMENT DURATION (#PCDATA)>
<!ELEMENT VIDEO_UPLOADER (#PCDATA)>
<!ELEMENT MOVIES (TYPE, MOVIE_LOCATION_MSG?, MOVIE+, THEATER+,
                  MORE_MOVIES_LINK?, MORE_THEATERS_LINK?)>
<!ELEMENT TYPE (#PCDATA)>
<!ELEMENT MOVIE (MOVIE_TITLE, ID?, YOUTUBE_TRAILER_ID?, TRAILER_THUMBNAIL_URL?,
                 POSTER_URL?, TRAILER_URL?, NUM_REVIEWS?, NUM_HALF_STARS?,
                 REVIEWS_URL?, DURATION?, RATING?, GENRE?, LANGUAGE?,
                 DUB_SUB?)>
<!ELEMENT MOVIE_TITLE (#PCDATA)>
<!ELEMENT MOVIE_LOCATION_MSG (#PCDATA)>
<!ELEMENT MORE_MOVIES_LINK (U, TEXT)>
<!ELEMENT MORE_THEATERS_LINK (U, TEXT)>
<!ELEMENT YOUTUBE_TRAILER_ID (#PCDATA)>
<!ELEMENT TRAILER_THUMBNAIL_URL (#PCDATA)>
<!ELEMENT POSTER_URL (#PCDATA)>
<!ELEMENT TRAILER_URL (#PCDATA)>
<!ELEMENT GENRE (#PCDATA)>
<!ELEMENT LANGUAGE (#PCDATA)>
<!ELEMENT DUB_SUB (#PCDATA)>
<!ELEMENT THEATER (NAME, ID?, ADDRESS?, PHONE_NUMBER?, MAP_URL?, THEATER_MAP?)>
<!ELEMENT MAP_URL (#PCDATA)>
<!ELEMENT THEATER_MAP (U, TEXT)>
<!ELEMENT BLOG (T, U, SOURCE?, DATE, SNIPPET)>
<!ELEMENT CurrentLocation (IsUserLocation?, LocationlessQuery?, ADDRESS?, AddressDetails)>
<!ELEMENT IsUserLocation EMPTY>
<!ELEMENT LocationlessQuery (#PCDATA)>
<!ELEMENT AddressDetails (AddressLines | Country |
                          AdministrativeArea | Locality | Thoroughfare)?>
<!ELEMENT AddressLines (AddressLine+)>
<!ELEMENT AddressLine (#PCDATA)>
<!ELEMENT Country (AddressLine*, CountryNameCode*,
                   (AdministrativeArea | Locality | Thoroughfare)?)>
<!ELEMENT CountryNameCode (#PCDATA)>
<!ELEMENT AdministrativeArea (AddressLine*, AdministrativeAreaName*,
                              SubAdministrativeArea?,
                              (Locality | PostalCode)?)>
<!ELEMENT AdministrativeAreaName (#PCDATA)>
<!ELEMENT SubAdministrativeArea (AddressLine*, SubAdministrativeAreaName*,
                                 (Locality | PostalCode)?)>
<!ELEMENT SubAdministrativeAreaName (#PCDATA)>
<!ELEMENT Locality (AddressLine*, LocalityName*, Thoroughfare?, Premise?,
                    DependentLocality?, PostalCode?)>
<!ELEMENT LocalityName (#PCDATA)>
<!ELEMENT DependentLocality (AddressLine*, DependentLocalityName*,
                             Thoroughfare?, Premise?, PostalCode?)>
<!ELEMENT DependentLocalityName (#PCDATA)>
<!ELEMENT Thoroughfare (AddressLine*, ThoroughfareName?, ThoroughfareNumber?,
                        ThoroughfarePreDirection?, ThoroughfareLeadingType?,
                        ThoroughfareTrailingType?, ThoroughfarePostDirection?,
                        Premise?)>
<!ELEMENT ThoroughfareName (#PCDATA)>
<!ELEMENT ThoroughfareNumber (#PCDATA)>
<!ELEMENT ThoroughfarePreDirection (#PCDATA)>
<!ELEMENT ThoroughfareLeadingType (#PCDATA)>
<!ELEMENT ThoroughfareTrailingType (#PCDATA)>
<!ELEMENT ThoroughfarePostDirection (#PCDATA)>
<!ELEMENT PostalCode (PostalCodeNumber*)>
<!ELEMENT PostalCodeNumber (#PCDATA)>
<!ELEMENT Premise (AddressLine*, PremiseName*, SubPremise?)>
<!ELEMENT PremiseName (#PCDATA)>
<!ELEMENT SubPremise (AddressLine*, SubPremiseName*)>
<!ELEMENT SubPremiseName (#PCDATA)>
<!ELEMENT LOCALTIME (PRIMARY_TIMEZONE*, SECONDARY_TIMEZONE*)>
<!ELEMENT PRIMARY_TIMEZONE (TIME, CODE, LOCATION)>
<!ELEMENT SECONDARY_TIMEZONE (TIME, DAY_CHANGE?, LOCATION, CODE)>
<!ELEMENT TIME (#PCDATA)>
<!ELEMENT CODE (#PCDATA)>
<!ELEMENT DAY_CHANGE (#PCDATA)>
<!ELEMENT LOCATION (#PCDATA)>
<!ELEMENT WHITEPAGES (ENTRY*)>
<!ELEMENT ENTRY (NAME, PHONE_NUMBER, ADDRESS)>
<!ELEMENT FINANCE (SYMBOL, COMPANY, EXCHANGE, EXCHANGE_CODE?, TOPLINKS?,
                   CHART_URL?, STOCK?, MUTF?, ECN?)>
<!ELEMENT SYMBOL (#PCDATA)>
<!ELEMENT COMPANY (#PCDATA)>
<!ELEMENT EXCHANGE (#PCDATA)>
<!ELEMENT EXCHANGE_CODE (#PCDATA)>
<!ELEMENT TOPLINKS (TOPLINK*)>
<!ELEMENT TOPLINK (U, TEXT)>
<!ELEMENT CHART_URL (#PCDATA)>
<!ELEMENT STOCK (SYMBOL?, COMPANY?, EXCHANGE?, LAST_PRICE, PRICE_CHANGE?,
                 PRICE_PERCENT_CHANGE?, LAST_CHANGE_TIME, OPEN_PRICE,
                 HIGH_PRICE, LOW_PRICE, VOLUME, AVG_VOLUME, MARKET_CAP,
                 DELAY, DISCLAIMER)>
<!ELEMENT LAST_PRICE (#PCDATA)>
<!ELEMENT PRICE_CHANGE (#PCDATA)>
<!ELEMENT PRICE_PERCENT_CHANGE (#PCDATA)>
<!ELEMENT LAST_CHANGE_TIME (#PCDATA)>
<!ELEMENT OPEN_PRICE (#PCDATA)>
<!ELEMENT HIGH_PRICE (#PCDATA)>
<!ELEMENT LOW_PRICE (#PCDATA)>
<!ELEMENT VOLUME (#PCDATA)>
<!ELEMENT AVG_VOLUME (#PCDATA)>
<!ELEMENT MARKET_CAP (#PCDATA)>
<!ELEMENT DELAY (#PCDATA)>
<!ELEMENT DISCLAIMER (#PCDATA)>
<!ELEMENT MUTF (MUTF_NAV, MUTF_CHANGE?, MUTF_PERCENT_CHANGE?,
                LAST_CHANGE_DATE, YTD, NET, FLP, RETURN, ER, MF,
                DATA_DELAY_DISCLAIMER, DISCLAIMER)>
<!ELEMENT MUTF_NAV (#PCDATA)>
<!ELEMENT MUTF_CHANGE (#PCDATA)>
<!ELEMENT MUTF_PERCENT_CHANGE (#PCDATA)>
<!ELEMENT LAST_CHANGE_DATE (#PCDATA)>
<!ELEMENT YTD (#PCDATA)>
<!ELEMENT NET (#PCDATA)>
<!ELEMENT FLP (#PCDATA)>
<!ELEMENT RETURN (#PCDATA)>
<!ELEMENT ER (#PCDATA)>
<!ELEMENT MF (#PCDATA)>
<!ELEMENT DATA_DELAY_DISCLAIMER (#PCDATA)>
<!ELEMENT ECN (ANCHOR, LAST_PRICE, PRICE_CHANGE, PRICE_PERCENT_CHANGE,
               LAST_CHANGE_TIME)>
<!ELEMENT ANCHOR (#PCDATA)>
<!ELEMENT PageMap (DataObject+)>
<!ELEMENT DataObject (Attribute*)>
<!ATTLIST DataObject type CDATA #IMPLIED>
<!ELEMENT Attribute (#PCDATA)>
<!ATTLIST Attribute name CDATA #REQUIRED
                    value CDATA #IMPLIED>
<!ELEMENT DAFFIE (TITLE?, DAFFIE_ATTRIBUTE?, DAFFIE_VALUE,
                  DAFFIE_SOURCE, DAFFIE_MORE_SOURCES?)>
<!ELEMENT DAFFIE_ATTRIBUTE (#PCDATA)>
<!ELEMENT DAFFIE_VALUE (#PCDATA)>
<!ELEMENT DAFFIE_MORE_SOURCES (U, TEXT)>
<!ELEMENT DAFFIE_SOURCE (DAFFIE_WEB_SOURCES?, DAFFIE_BOOK_SOURCES?,
                         DAFFIE_DISP_SOURCE)>
<!ELEMENT DAFFIE_WEB_SOURCES (TEXT)>
<!ELEMENT DAFFIE_BOOK_SOURCES (TEXT, DAFFIE_BOOK_TITLE, DAFFIE_AUTHORS?,
                               DAFFIE_PUBDATE?, DAFFIE_PAGENUM?)>
<!ELEMENT DAFFIE_BOOK_TITLE (#PCDATA)>
<!ELEMENT DAFFIE_AUTHORS (#PCDATA)>
<!ELEMENT DAFFIE_PUBDATE (#PCDATA)>
<!ELEMENT DAFFIE_PAGENUM (#PCDATA)>
<!ELEMENT DAFFIE_DISP_SOURCE (#PCDATA)>
<!ELEMENT MAP_RESULT (IMAGE, AddressLines, TRANSIT_STATION?,
                      STANDARD_THUMBNAIL*, SPRITE_THUMBNAIL*,
                      TRAVEL_REFINEMENT*)>
<!ELEMENT STANDARD_THUMBNAIL (IMAGE_SOURCE, IMAGE_HEIGHT, IMAGE_WIDTH, U)>
<!ELEMENT SPRITE_THUMBNAIL (IMAGE_SOURCE?, IMAGE_HEIGHT, IMAGE_WIDTH, U,
                            IMAGE_BACKGROUND_SOURCE, IMAGE_BACKGROUND_POSITION)>
<!ELEMENT TRAVEL_REFINEMENT (TEXT, U)>
<!ELEMENT IMAGE_BACKGROUND_SOURCE (#PCDATA)>
<!ELEMENT IMAGE_BACKGROUND_POSITION (#PCDATA)>
<!ELEMENT RESULT_UI (#PCDATA)>
<!ELEMENT RESULT_DOCID (#PCDATA)>
<!ELEMENT NAVINESS (#PCDATA)>
<!ELEMENT RESULT_MARK_PREFERRED_BY_USER EMPTY>
<!ELEMENT RESULT_MARK_VISIBLY_PERSONALIZED (#PCDATA)>
<!ELEMENT PROSE_SINGLE_RESULT (IMPRESSION_TAG?, PROMO_TEXT?, PROSE_TOP_TITLE?,
                               PROSE_IMAGE?, PROSE_RIGHT_TITLE?,
                               PROSE_GADGET?, PROSE_TABLE_WRAPPER?, PROSE_BODY?,
                               PROSE_LABELS?, PROSE_MAPPLET_FORM?)>
<!ELEMENT PROSE_CLUSTERED_RESULT (IMPRESSION_TAG?, TITLE, PROSE_SUBSCRIPTIONS?,
                                  PROSE_IMAGE?, PROSE_MAIN_TITLE?,
                                  PROSE_GADGET?, PROSE_TABLE)>
<!ELEMENT IMPRESSION_TAG (#PCDATA)>
<!ELEMENT PROMO_TEXT (#PCDATA)>
<!ELEMENT PROSE_TOP_TITLE (PROSE_RESULT_TITLE?)>
<!ELEMENT PROSE_RIGHT_TITLE (PROSE_RESULT_TITLE?)>
<!ELEMENT PROSE_IMAGE (U?, IMAGE_HEIGHT, IMAGE_WIDTH, SRC)>
<!ELEMENT SRC (#PCDATA)>
<!ELEMENT PROSE_TABLE_WRAPPER (PROSE_TABLE?, PROSE_TABLE_BOTTOM_TEXT?, UD?)>
<!ELEMENT PROSE_TABLE (PROSE_ROW*)>
<!ELEMENT PROSE_TABLE_BOTTOM_TEXT (#PCDATA)>
<!ELEMENT PROSE_ROW (PROSE_CELL*)>
<!ELEMENT PROSE_CELL (PROSE_CELL_LEFT?, PROSE_CELL_LINK?, PROSE_CELL_RIGHT?,
                      SRC?)>
<!ELEMENT PROSE_CELL_LEFT (#PCDATA)>
<!ELEMENT PROSE_CELL_RIGHT (#PCDATA)>
<!ELEMENT PROSE_CELL_LINK (U?, TEXT)>
<!ELEMENT PROSE_TABLE_TEXT (#PCDATA)>
<!ELEMENT PROSE_BODY (PROSE_BODY_LINE*)>
<!ELEMENT PROSE_BODY_LINE (PROSE_BODY_BLOCK*, UD?)>
<!ELEMENT PROSE_BODY_BLOCK (PROSE_BODY_LEFT*, PROSE_BODY_LINK*,
                            PROSE_BODY_RIGHT*)>
<!ELEMENT PROSE_BODY_LEFT (#PCDATA)>
<!ELEMENT PROSE_BODY_RIGHT (#PCDATA)>
<!ELEMENT PROSE_BODY_LINK (U?, TEXT)>
<!ELEMENT PROSE_LABELS (PROSE_LABEL_ROW*)>
<!ELEMENT PROSE_LABEL_ROW (PROSE_LABEL_COLUMN*)>
<!ELEMENT PROSE_LABEL_COLUMN (U?, TEXT?)>
<!ELEMENT PROSE_MAPPLET_FORM (PARAM_NAME, SUBMIT_URL, DEFAULT_TEXT,
                              BUTTON_TEXT, UD?)>
<!ELEMENT PARAM_NAME (#PCDATA)>
<!ELEMENT SUBMIT_URL (#PCDATA)>
<!ELEMENT DEFAULT_TEXT (#PCDATA)>
<!ELEMENT BUTTON_TEXT (#PCDATA)>
<!ELEMENT PROSE_RESULT_TITLE (U?, TEXT, PROSE_TITLE_RIGHT_TEXT?,
                              PROSE_TITLE_LINK?, PROSE_SUBSCRIPTIONS?)>
<!ELEMENT PROSE_TITLE_RIGHT_TEXT (#PCDATA)>
<!ELEMENT PROSE_TITLE_LINK (U, TEXT)>
<!ELEMENT PROSE_SUBSCRIPTIONS (U, TEXT)>
<!ELEMENT PROSE_GADGET (SRC, PROSE_USER_PREF?, UD?)>
<!ELEMENT PROSE_USER_PREF (NAME, PROSE_PREF_VALUE)>
<!ELEMENT PROSE_PREF_VALUE (#PCDATA)>
<!ELEMENT PROSE_MAIN_TITLE (U?, TEXT, UD?, PROSE_GADGET_BUTTON?)>
<!ELEMENT PROSE_GADGET_BUTTON (U, SRC)>
<!ELEMENT LSS (LSS_ENTRY*)>
<!ELEMENT LSS_ENTRY (#PCDATA)>
<!ATTLIST LSS_ENTRY HEADER CDATA #IMPLIED>
<!ELEMENT ANNOTATIONS (COMMENT?, LABEL*,
                       BOOKMARK_URL?, SEARCHWIKI_ATTRIBUTES?)>
<!ELEMENT COMMENT (#PCDATA)>
<!ELEMENT LABEL (#PCDATA)>
<!ELEMENT BOOKMARK_URL (#PCDATA)>
<!ELEMENT SEARCHWIKI_ATTRIBUTES (#PCDATA)>
<!ATTLIST ANNOTATIONS PROMOTED (1) #IMPLIED
                      STARRED (1) #IMPLIED>
<!ELEMENT RICH_TEXT (#PCDATA)>
<!ELEMENT RICH_SNIPPET (NUM_HALF_STARS | PHONE_NUMBER | RICH_TEXT)*>
<!ELEMENT RICH_SNIPPET_EVENTS (EVENT_URL , EVENT_SUMMARY, EVENT_DATE,
                               EVENT_VENUE_LOCATION)>
<!ELEMENT EVENT_URL (#PCDATA)>
<!ELEMENT EVENT_SUMMARY (#PCDATA)>
<!ELEMENT EVENT_DATE (#PCDATA)>
<!ELEMENT EVENT_VENUE_LOCATION (#PCDATA)>
<!ELEMENT LEFT_IMAGE_SNIPPET (IMAGE_THUMB)>
<!ELEMENT NAVSMEAR_CLUSTER (NAVSMEAR_RESULT+)>
<!ATTLIST NAVSMEAR_CLUSTER NUM CDATA #REQUIRED>
<!ELEMENT NAVSMEAR_RESULT (U, UE, T, S)>
<!ATTLIST NAVSMEAR_RESULT N CDATA #REQUIRED>
<!ELEMENT SAFEBROWSING (COMMENT?)>
<!ELEMENT HACKEDSITES EMPTY>
<!ATTLIST HACKEDSITES HACKED (1) #IMPLIED>
<!ELEMENT PREVIEW_IMG (#PCDATA)>
<!ELEMENT CT_URL (#PCDATA)>
<!ATTLIST SAFEBROWSING MALWARE (1) #IMPLIED>
<!ELEMENT TOOLBELT (TB_TOOL*, RESET_TB_OPTION)>
<!ELEMENT TOOLBELT_BREADCRUMB (TB_TOOL*)>
<!ELEMENT SEARCH_MODES (PROMOTED_MODES, UNPROMOTED_MODES,
                        MORE_TEXT?, LESS_TEXT?)>
<!ELEMENT PROMOTED_MODES (TB_OPTION*)>
<!ELEMENT UNPROMOTED_MODES (TB_OPTION*)>
<!ELEMENT MORE_TEXT (#PCDATA)>
<!ELEMENT LESS_TEXT (#PCDATA)>
<!ELEMENT TB_TOOL (TB_OPTION*)>
<!ELEMENT TB_OPTION (NAME?, TEXT, U)>
<!ATTLIST TB_OPTION ison CDATA #IMPLIED>
<!ELEMENT BREADCRUMBS_LINE (BREADCRUMBS_HOST?, BREADCRUMBS_CRUMB+)>
<!ELEMENT BREADCRUMBS_HOST (#PCDATA)>
<!ELEMENT BREADCRUMBS_CRUMB (U, T)>
<!ELEMENT ANSWER (ANSWER_ENTITY, ANSWER_ATTRIBUTE, ANSWER_VALUE,
                  ANSWER_SOURCE_DOMAIN*, ANSWER_REMAINING_SOURCES)>
<!ELEMENT ANSWER_ENTITY (#PCDATA)>
<!ELEMENT ANSWER_ATTRIBUTE (#PCDATA)>
<!ELEMENT ANSWER_VALUE (#PCDATA)>
<!ELEMENT ANSWER_SOURCE_DOMAIN (#PCDATA)>
<!ELEMENT ANSWER_REMAINING_SOURCES (#PCDATA)>
<!ELEMENT ANSWER_SOURCE (ANSWER_SOURCE_URL, ANSWER_SOURCE_TITLE,
                         ANSWER_SOURCE_DOMAIN, ANSWER_SOURCE_SNIPPET)>
<!ELEMENT ANSWER_SOURCE_URL (#PCDATA)>
<!ELEMENT ANSWER_SOURCE_TITLE (#PCDATA)>
<!ELEMENT ANSWER_SOURCE_SNIPPET (#PCDATA)>
<!ELEMENT RHS_COLUMN (RG*, R*)>
<!ATTLIST JUSTIFICATION TYPE CDATA #REQUIRED
                        USER_IMAGE CDATA #IMPLIED
                        EXPLANATION_PREFIX CDATA #REQUIRED
                        EXPLANATION_SUFFIX CDATA #REQUIRED
                        EXPLANATION_ANCHOR_TEXT CDATA #IMPLIED
                        EXPLANATION_URL CDATA #IMPLIED
                        REVIEW_SNIPPET CDATA #IMPLIED
                        OTHERS_RATED_IT_PREFIX CDATA #IMPLIED
                        OTHERS_RATED_IT_SUFFIX CDATA #IMPLIED
                        OTHERS_RATED_IT_ANCHOR_TEXT CDATA #IMPLIED
                        OTHERS_RATED_IT_URL CDATA #IMPLIED>
<!ELEMENT LINK_PREFETCH (U*)>
